.head1 {
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(215, 223, 223);
    position: relative;
  }
  .rcontent {
    margin: 0px 0px 0px 0px;
  }
  
  .rcontent ul {
    display: flex;
    justify-content: center;
  }
  .rcontent ul li {
    color: rgb(13, 13, 13);
    text-decoration: none;
    list-style-type: none;
  }
 
  
  .logo {
    padding: 0px 0px 0px 50px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .logo h1 {
    color: #fff;
    font-size: 35px;
    margin: 10px 0px 0px 26px;
  }
  .rcontent li {
    margin: 0px 5px;
    position: relative;
  }